<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="McPitGSeat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="McPitGSeat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <McPitGSeat.Properties.Settings>
            <setting name="LastPosX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastPosY" serializeAs="String">
                <value>0</value>
            </setting>
        </McPitGSeat.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <McPitGSeat.Properties.Settings>
            <setting name="ShoulderInflationDurationS" serializeAs="String">
                <value>1.25</value>
            </setting>
            <setting name="ShoulderDeflationDurationS" serializeAs="String">
                <value>1.75</value>
            </setting>
            <setting name="LegInflationDurationS" serializeAs="String">
                <value>2.3</value>
            </setting>
            <setting name="LegDeflationDurationS" serializeAs="String">
                <value>3.3</value>
            </setting>
        </McPitGSeat.Properties.Settings>
    </applicationSettings>
</configuration>
